@page "/"

<PageTitle>Home</PageTitle>

<div class="container justify-content-center text-center my-5">
    <h1 class="display-6">Welcome</h1>
    <hr class="my-4" />
    <p>Author: Bùi Bá Quảng</p>
    <a href="https://github.com/buibaquang0907/buibaquang_aspcoreblazor.git" target="_blank" class="btn btn-primary btn-sm">Source github</a>
</div>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted">Contact: buibaquang0907@gmail.com</span>
    </div>
</footer>
