@page "/productDetail/{ProductId}"

@using buibaquang_aspcoreblazor.Models.Models
@using buibaquang_aspcoreblazor.Wasm.Components
@using buibaquang_aspcoreblazor.Wasm.Services;

@inject IProductApiClient productApiClient;

@if (productDetails == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <h3 class="text-center my-4">@productDetails.Name</h3>
    <div class="container mt-4">
        <table class="table table-striped">
            <tr>
                <td>Image</td>
                <td><img src="@productDetails.Image" alt="" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@productDetails.Description</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@productDetails.Price</td>
            </tr>

        </table>
    </div>
}


@code {
    [Parameter]
    public string ProductId { get; set; }
    private ProductModel productDetails { get; set; }

    protected override async Task OnInitializedAsync()
    {
        productDetails = await productApiClient.GetProductById(ProductId);
    }
}
